client-soap/src/main/java/ma/adam/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.adam.ma/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.adam.ma/" name="BanqueControllerService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.adam.ma/" schemaLocation="http://localhost:7777/?xsd=1"/>
</xsd:schema>
</types>
<message name="convertDHToDollar">
<part name="parameters" element="tns:convertDHToDollar"/>
</message>
<message name="convertDHToDollarResponse">
<part name="parameters" element="tns:convertDHToDollarResponse"/>
</message>
<message name="listComptes">
<part name="parameters" element="tns:listComptes"/>
</message>
<message name="listComptesResponse">
<part name="parameters" element="tns:listComptesResponse"/>
</message>
<message name="getCompteByCode">
<part name="parameters" element="tns:getCompteByCode"/>
</message>
<message name="getCompteByCodeResponse">
<part name="parameters" element="tns:getCompteByCodeResponse"/>
</message>
<portType name="banqueService">
<operation name="convertDHToDollar">
<input wsam:Action="http://ws.adam.ma/banqueService/convertDHToDollarRequest" message="tns:convertDHToDollar"/>
<output wsam:Action="http://ws.adam.ma/banqueService/convertDHToDollarResponse" message="tns:convertDHToDollarResponse"/>
</operation>
<operation name="listComptes">
<input wsam:Action="http://ws.adam.ma/banqueService/listComptesRequest" message="tns:listComptes"/>
<output wsam:Action="http://ws.adam.ma/banqueService/listComptesResponse" message="tns:listComptesResponse"/>
</operation>
<operation name="getCompteByCode">
<input wsam:Action="http://ws.adam.ma/banqueService/getCompteByCodeRequest" message="tns:getCompteByCode"/>
<output wsam:Action="http://ws.adam.ma/banqueService/getCompteByCodeResponse" message="tns:getCompteByCodeResponse"/>
</operation>
</portType>
<binding name="banqueServicePortBinding" type="tns:banqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="convertDHToDollar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompteByCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueControllerService">
<port name="banqueServicePort" binding="tns:banqueServicePortBinding">
<soap:address location="http://localhost:7777/"/>
</port>
</service>
</definitions>